The task is searching for the file's data in another excel files and combine and write a search result into a new excel file

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import scipy.stats as stats
%matplotlib inline

In [2]:
import warnings
#warnings.filterwarnings("ignore")
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression

In [3]:
# original data
df = pd.read_excel('C:\\Users\Documents\dwg\\Uzb\equipment.xlsx')
df = df.fillna("00") #  replace all the NaN values with Zero's in columns
#df.head(10)

In [4]:
# file N1 where searching for data
way_AD = r'C:\\Users\Documents\dwg\\AD\_CURRENT\BASE_21_09_2017.xlsx'
fields = ['FTA_b', 'IOTA']
df_AD = pd.read_excel(way_AD, sheetname = 'база', skipinitialspace = True)
#df_AD.head(10)

In [5]:
# file N2 where searching for data
way_NO = r'C:\\Users\Documents\dwg\NO\NEW\_26_06_2015 my.xlsx'
fields1 = ['module', 'cabinet', 'cables', 'FTA', 'Bar']
df_NO = pd.read_excel(way_NO, sheetname = 'подключение сигналов', skipinitialspace = True, usecols = fields1)
#df_NO.head(10)

In [6]:
# file N3 where searching for data
way_GE = r'C:\\Users\Documents\dwg\GE\AK-72\work current\_База данных АК-72_25_08_14_REV-FAT 01 my.xlsx'
df_GE = pd.read_excel(way_GE, sheetname = 'СВОДНАЯ', skipinitialspace = True)
#df_GE.head(10)

In [7]:
# searching algorithm
def df_X(x, y):
    df[x] = [str(i) + x if i in y and i != '1' else 'N/A' for i in df['Model']]
    return
df_X('_AD project', df_AD.values)
df_X('_NO project', df_NO.values)
df_X('_GE project', df_GE.values)

# df['AD'] = [str(i) + '__AD' if i in df_AD.values else 'N/A' for i in df['Model']]
# df['NO'] = [str(i) + '__NO' if i in df_NO.values else 'N/A' for i in df['Model']]
# df['GE'] = [str(i) + '__GE' if i in df_GE.values else 'N/A' for i in df['Model']]

df = df.replace('N/A',np.nan) #  replace all the N/A values with NaN in columns
#df.head(10)

In [8]:
df_result = df.dropna(thresh = 5) # Drop row if it does not have at least 5 values that are **not** NaN
df_result.head(10)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>N</th>
      <th>Model</th>
      <th>Equipment</th>
      <th>Q-ty</th>
      <th>_AD project</th>
      <th>_NO project</th>
      <th>_GE project</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>75</th>
      <td>75</td>
      <td>CC-PAIH01</td>
      <td>HART Analog Input Module, High-Level</td>
      <td>48</td>
      <td>CC-PAIH01_AD project</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>79</th>
      <td>79</td>
      <td>CC-PAOH01</td>
      <td>HART Analog Output Module</td>
      <td>14</td>
      <td>CC-PAOH01_AD project</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>82</th>
      <td>82</td>
      <td>CC-PDIS01</td>
      <td>Digital Input SOE 24V Module</td>
      <td>10</td>
      <td>CC-PDIS01_AD project</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>83</th>
      <td>83</td>
      <td>CC-PDOB01</td>
      <td>Digital Output 24V Bussed Out 32 Module</td>
      <td>6</td>
      <td>CC-PDOB01_AD project</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>85</th>
      <td>85</td>
      <td>CC-TAIX01</td>
      <td>Analog Input IOTA, (16)</td>
      <td>34</td>
      <td>NaN</td>
      <td>CC-TAIX01_NO project</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>87</th>
      <td>87</td>
      <td>CC-TAOX11</td>
      <td>Analog Output IOTA, Red., (16)</td>
      <td>7</td>
      <td>CC-TAOX11_AD project</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>90</th>
      <td>90</td>
      <td>CC-TDIL01</td>
      <td>Digital Input 24V IOTA, (32)</td>
      <td>10</td>
      <td>CC-TDIL01_AD project</td>
      <td>CC-TDIL01_NO project</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>91</th>
      <td>91</td>
      <td>CC-TDOB01</td>
      <td>Digital Output 24V Buss IOTA, (32)</td>
      <td>6</td>
      <td>CC-TDOB01_AD project</td>
      <td>CC-TDOB01_NO project</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>101</th>
      <td>101</td>
      <td>CP-DYNB-AIO</td>
      <td>16-канальная объединительная плата для C300, M...</td>
      <td>10</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>CP-DYNB-AIO_GE project</td>
    </tr>
    <tr>
      <th>102</th>
      <td>102</td>
      <td>CP-DYNA-2AIO</td>
      <td>16-канальная объединительная плата для C300, M...</td>
      <td>34</td>
      <td>NaN</td>
      <td>CP-DYNA-2AIO_NO project</td>
      <td>CP-DYNA-2AIO_GE project</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
df_result.to_excel('C:\\Users\Documents\dwg\\Uzb\search result.xlsx')

In [10]:
# df.dropna()     #drop all rows that have any NaN values

In [11]:
# df.dropna(how='all')     #drop only if ALL columns are NaN

In [12]:
# df.dropna(subset=[1])   #Drop only if NaN in specific column

In [13]:
# df.dropna(thresh=2)   #Drop row if it does not have at least two values that are **not** NaN