In [108]:
import pandas as pd
import numpy as np
import seaborn as sns
import os

In [109]:
directory1 = r'C:\Users\PycharmProjects\all for work'
files1 = os.listdir(directory1)
s1 = set(files1)

In [110]:
directory2 = r'C:\Users\PycharmProjects\pandas-practice-master'
files2 = os.listdir(directory2)
s2 = set(files2)

In [111]:
# Симметричная разница между множествами А и В — это множество с элементами, 
# которые находятся в А и В, за исключением тех элементов, которые являются общими для обеих множеств. 
# Это определяется использованием метода Python под названием symmetric_difference(), или оператора ^.

In [112]:
result1 = s1 ^ s2
len(result1)

24

In [113]:
# there is the same result
result2 = s2 ^ s1
len(result2)

24

In [114]:
p1 = sorted(list(s1)) # list(filter(function, iterable)
df1 = pd.DataFrame({ 'file' : p1, 'where' : os.path.basename(directory1)})  
# os.path.basename(directory1) get the name of the folder which contains the file I'm working with
#df1

In [115]:
p2 = sorted(list(s2)) # list(filter(function, iterable)
df2 = pd.DataFrame({ 'file' : p2, 'where' : os.path.basename(directory2)})
#df2

In [116]:
df_result1 = pd.DataFrame({ 'file_name' : list(set(df1['file']) - set(df2['file'])), 'where' : os.path.basename(directory1)})
df_result1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>file_name</th>
      <th>where</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>search for the data in another file and put it...</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>1</th>
      <td>test.py</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>2</th>
      <td>studentgrades.csv</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>3</th>
      <td>concatinating databases _ diff sizes.ipynb</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>4</th>
      <td>to compare files !!!!.xlsx</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>5</th>
      <td>all eqs.xlsx</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>6</th>
      <td>concatinating databases _ one sheet..ipynb</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>7</th>
      <td>to compare files in different folders !!!!!.ipynb</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>8</th>
      <td>concatinating databases git.ipynb</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>9</th>
      <td>concatinating databases.ipynb</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>10</th>
      <td>to compare files_diff sizes!!!!.xlsx</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>11</th>
      <td>to compare files_one sheet!!!!.xlsx</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>12</th>
      <td>concatinating databases New.ipynb</td>
      <td>all for work</td>
    </tr>
  </tbody>
</table>
</div>

In [117]:
df_result2 = pd.DataFrame({ 'file_name' : list(set(df2['file']) - set(df1['file'])), 'where' : os.path.basename(directory2)})
df_result2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>file_name</th>
      <th>where</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>README.md</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>1</th>
      <td>instrument list git1.ipynb</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>2</th>
      <td>search for files names that contain a certain ...</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>3</th>
      <td>decorates + functions + dataframe (test).ipynb</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>4</th>
      <td>wallpaper rolls_calculation.py</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>5</th>
      <td>find all duplicate rows in a pandas dataframe....</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Classes + Pandas.ipynb</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>7</th>
      <td>search for the data in another file and put it...</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>8</th>
      <td>put data into df from another one TEST.ipynb</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>9</th>
      <td>searching for the data in another file.ipynb</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>10</th>
      <td>игра с начальником на отпуск.py</td>
      <td>pandas-practice-master</td>
    </tr>
  </tbody>
</table>
</div>

In [118]:
df_result = pd.concat([df_result1, df_result2])
df_result
#len(df_result)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>file_name</th>
      <th>where</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>search for the data in another file and put it...</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>1</th>
      <td>test.py</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>2</th>
      <td>studentgrades.csv</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>3</th>
      <td>concatinating databases _ diff sizes.ipynb</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>4</th>
      <td>to compare files !!!!.xlsx</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>5</th>
      <td>all eqs.xlsx</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>6</th>
      <td>concatinating databases _ one sheet..ipynb</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>7</th>
      <td>to compare files in different folders !!!!!.ipynb</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>8</th>
      <td>concatinating databases git.ipynb</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>9</th>
      <td>concatinating databases.ipynb</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>10</th>
      <td>to compare files_diff sizes!!!!.xlsx</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>11</th>
      <td>to compare files_one sheet!!!!.xlsx</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>12</th>
      <td>concatinating databases New.ipynb</td>
      <td>all for work</td>
    </tr>
    <tr>
      <th>0</th>
      <td>README.md</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>1</th>
      <td>instrument list git1.ipynb</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>2</th>
      <td>search for files names that contain a certain ...</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>3</th>
      <td>decorates + functions + dataframe (test).ipynb</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>4</th>
      <td>wallpaper rolls_calculation.py</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>5</th>
      <td>find all duplicate rows in a pandas dataframe....</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Classes + Pandas.ipynb</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>7</th>
      <td>search for the data in another file and put it...</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>8</th>
      <td>put data into df from another one TEST.ipynb</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>9</th>
      <td>searching for the data in another file.ipynb</td>
      <td>pandas-practice-master</td>
    </tr>
    <tr>
      <th>10</th>
      <td>игра с начальником на отпуск.py</td>
      <td>pandas-practice-master</td>
    </tr>
  </tbody>
</table>
</div>

In [119]:
# # The same result gotten by another way
df = pd.concat([df1['file'], df2['file']]).drop_duplicates(keep=False)
len(df)

24

In [120]:
df_result.to_excel('C:\\Users\Documents\dwg\\to compare files !!!!.xlsx')
# операция создаст сама xlsx файл, отдельно создавать его не нужно

In [121]:
print(os.path.basename(directory1))

all for work

In [122]:
print(os.path.basename(directory1)[:3])

all

Вместо os.path.basename(path) - начало

In [123]:
print(os.path.split('C:\\Users\PycharmProjects\\all for work'))

('C:\\Users\\E277460\\PycharmProjects', 'all for work')

In [124]:
print(os.path.split(os.path.split('C:\\Users\PycharmProjects\\all for work')[0]))
# выделяем первый

('C:\\Users\\E277460', 'PycharmProjects')

In [125]:

print(os.path.split(os.path.split('C:\\Users\PycharmProjects\\all for work')[0])[1])

PycharmProjects

In [126]:
print(os.path.split(os.path.split('C:\\Users\PycharmProjects\\all for work\\')[0])[1])

all for work

Вместо os.path.basename(path) - конец

In [17]:
'''df_outer = pd.merge(df1, df2, on = 'file', how='outer')
df_outer  '''

"df_outer = pd.merge(df1, df2, on = 'file', how='outer')\ndf_outer  "

In [28]:
'''df_inner = pd.merge(df1, df2, on = 'file', how='inner')
df_inner  '''

"df_inner = pd.merge(df1, df2, on = 'file', how='inner')\ndf_inner  "